.hero-section__text {
margin-bottom: 80px;

@media screen and (min-width:480px) and (max-width:767px) {
max-width: 100%;
margin-bottom: 15px;
}
}

.hero-section__title {
font-family: 'Dela Gothic One';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 1.371;
color: #EFEFEF;
margin:auto;

@media screen and (min-width:480px) and (max-width:767px) {
font-size: 55px;
line-height: 1.2;
}
}

.hero-section__subtitle {
font-family: 'Noto Sans', sans-serif;
font-weight: 300;
font-size: 40px;
line-height: 2.5;
color: rgba(239, 239, 239, 0.7);

@media screen and (min-width:480px) and (max-width:767px) {
font-size: 26px;
line-height: 2;
}
}

.hero-section__slider {
position: relative;
margin-bottom: 53px;
transition: opacity 0.5s ease-in-out;

@media screen and (min-width:480px) and (max-width:767px) {
margin-bottom: 40px;
}
}

.hero-section__slide {
display: flex;
justify-content: center;
}

.slider-picture {
position: relative;
}

.slide-svg {
display: flex;
justify-content: center;
align-items: center;
width: 96px;
height: 96px;
background-color: #FFCE68;
box-shadow: 0px 25px 35px rgba(0, 0, 0, 0.35), inset 2px 2px 8px rgba(255, 255, 255, 0.35), inset -2px -2px 5px rgba(0, 0, 0, 0.5);
position: absolute;
left: 335px;
top: 33px;

@media screen and (min-width:480px) and (max-width:767px) {
width: 55px;
height: 55px;
left: 172px;
top: 18px;
}
}

.slide-icon {
width: 57px;
height: 47px;

@media screen and (min-width:480px) and (max-width:767px) {
width: 47px;
height: 37px;
}
}

.slide-text {
font-family: 'Noto Sans', sans-serif;
font-weight: 700;
font-size: 35px;
line-height: 1.828;
color: #EFEFEF;

@media screen and (min-width:480px) and (max-width:767px) {
font-size: 20px;
line-height: 1.5;
}
}

.slide-descr {
max-width: 100%;
margin-left: 104px;

@media screen and (min-width:480px) and (max-width:767px) {
margin-left: 52px;
}
}

.swiper-btns {
display: flex;
justify-content: space-between;
position: absolute;
top: 50%;
width: 100%;
transform: translateY(-50%);

@media screen and (min-width:480px) and (max-width:767px) {
top: 112%;
}
}

.swiper-button-next,
.swiper-button-prev {
display: flex;
align-items: center;
justify-content: center;
width: 57px;
height: 31px;
filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.6));
background: linear-gradient(
103.73deg,
rgba(255, 255, 255, 0.18) 2.39%,
rgba(111, 111, 111, 0.2) 97.3%
);
cursor: pointer;
}

.arrow-icon {
fill: #FFCE68;
}

.swiper-paginator {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
gap: 25px;
}

.swiper-paginator-bullet {
font-family: 'Noto Sans', sans-serif;
font-weight: 300;
font-size: 25px;
line-height: 2.56;
text-align: center;
color: #A9A9A9;
cursor: pointer;
}

.active {
color: #FFCE68;
}

.is-hidden {
    display: none;
    }