body {
background-color: #070707;
}

section {
@media screen and (min-width:1200px) and (max-width:1919px){
padding: 0 220px;
}
@media screen and (min-width:768px) and (max-width:1199px) {
    padding: 0 100px;
}
@media screen and (max-width:767px) {
    padding: 0 20px;
}
@media screen and (min-width:1920px) {
    padding: 0 340px;
}
}

img {
@media screen and (min-width: 480px) and (max-width:767px) {
width: 200px;
height: 200px;
}
}


